<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
</head>
<body>
    <h2>edit</h2>
    <p>post id:<%= post.id %></p>
    <p>username: <%= post.username %></p></p>
    <form method="post" action="/post/<%= post.id%>?_method=PATCH">
        <textarea name="content"><%= post.content %></textarea>
        <button>submit</button>
    </form>
</body>
</html>